@import url("https://fonts.googleapis.com/css2?family=Petrona:wght@300&display=swap");

body {
  --color-text: hsl(0, 0%, 15%);
  --color-bg: hsl(285, 18%, 4%);
  --color-bubble-emoji: hotpink;
  --color-bubble-user: skyblue;
  --color-highlight: yellow;
  --space: clamp(1.25rem, 4vw, 2rem);
  --font-main: "Petrona", serif;
  --duration: 90ms;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

*,
*::before,
*::after { 
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  padding: calc(var(--space) * 2);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-main);
}

.squiggle-vision-svg {
  position: fixed;
  top: 100%;
  pointer-events: none;
}

.hide .section {
  opacity: 0;
}

.no-js-text {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: grid;
  place-items: center;
  max-width: 35ch;
  width: 100vw;
  height: 100vh;
  font-size: 2rem;
  line-height: 1.4;
  color: white;
}

.section {
  display: grid;
  justify-items: center;
  position: relative;
}

.section .wrapper {
  position: relative;
  line-height: 1.2;
}


.bubble {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-text);
  width: 100%;
  height: 100%;
  background-color: var(--color-bubble-emoji);
  border-radius: 1vmin;
  pointer-events: none;
}

.bubble::after {
  content: "";
  position: absolute;
  top: calc(100% - 1vmin);
  left: 60%;
  width: 5vmin;
  height: 5vmin;
  background-color: inherit;
  clip-path: polygon(30% 0, 0 100%, 100% 0);
}


.text-wrapper {
  position: relative;
  padding: var(--space);
  z-index: 1;
  text-align: center;
  outline: none;
  min-width: 20vmin;
}


.section--emoji {
  display: grid;
  justify-items: center;
  grid-gap: var(--space);
  padding: var(--space);
  position: relative;
  font-size: clamp(1.25rem, 5vmin, 4rem);
  transform-origin: 50% 0;
  transition: transform calc(var(--duration) * 4) var(--ease);
}

.section--emoji .text-wrapper span {
  position: relative;
  visibility: hidden;
  animation: char var(--duration) calc(var(--i) * var(--duration)) linear
    forwards;
}

.emoji {
  position: relative;
  margin-bottom: var(--space);
  font-family: Courier, monospace;
  font-size: 10vmin;
  letter-spacing: 0.5vmin;
  line-height: 1.5;
  width: 1.75ch;
  overflow: hidden;
  user-select: none;
}

.emoji span {
  display: block;
  white-space: nowrap;
}


.section--user {
  font-size: clamp(1.5rem, 6vmin, 5rem);
  transition: opacity calc(var(--duration) * 2) var(--ease),
    transform calc(var(--duration) * 4) var(--ease);
}

.section--user .bubble {
  min-width: 18vmin;
  background-color: var(--color-bubble-user);
}

.section--user .bubble::after {
  left: unset;
  right: 3rem;
  transform: scaleX(-1);
}

.section--user .wrapper {
  display: inline-grid;
}

.section--user .wrapper::after {
  content: attr(data-value);
  padding: var(--space);
  visibility: hidden;
  white-space: pre-wrap;
}

.section--user .wrapper::after,
.section--user .textarea {
  grid-area: 1 / 1;
  min-width: 1em;
}

.section--user .textarea {
  width: auto;
  font: inherit;
  margin: 0;
  resize: none;
  background: none;
  appearance: none;
  border: none;
}

.section--user .textarea::-moz-selection {
  background: var(--color-highlight);
}
.section--user .textarea::selection {
  background: var(--color-highlight);
}

.submit-button {
  all: unset;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%) scale(1.1);
  font-size: clamp(0.8rem, 2vw, 1rem);
  line-height: 1;
  padding: 0.75em 0.25em 0 1.25em;
  border: 4px solid var(--color-bg);
  border-radius: 0.4rem;
  background-color: var(--color-bubble-emoji);
  cursor: pointer;
  user-select: none;
  z-index: 2;
}

.submit-button:disabled {
  cursor: not-allowed;
}


.submit-button:focus,
.text-wrapper:focus {
  outline: 2px dashed var(--color-highlight);
}

.text-wrapper:focus {
  outline-offset: 4px;
}

.is-talking .emoji span {
  animation: talking calc(var(--duration) * 2) steps(2, jump-none)
    var(--iteration-count);
}

.is-talking .section--user {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .is-talking .section--user {
    opacity: 0;
    transform: translateY(50%);
    pointer-events: none;
  }

  .is-talking .section--emoji {
    transform: scale(1.2);
  }

  .bubble,
  .emoji {
    animation: squiggle 300ms linear infinite;
  }
}


@keyframes char {
  to {
    visibility: visible;
  }
}

@keyframes talking {
  100% {
    transform: translateX(-100%);
  }
}

@keyframes squiggle {
  0% {
    filter: url("#squiggle-0");
  }
  25% {
    filter: url("#squiggle-1");
  }
  50% {
    filter: url("#squiggle-2");
  }
  75% {
    filter: url("#squiggle-3");
  }
  100% {
    filter: url("#squiggle-4");
  }
}
